.btn-cv {
    padding: .8rem 1.2rem;
    border-radius: .6rem;
    max-width:fit-content;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background-color: var(--button-bg);
    color: var(--button-text);
  }

  