.homepage {
  position: relative;
  padding: 0 15% ; 
  height: calc(100vh - 6rem);
  border-bottom:1px solid rgb(129, 104, 157, .5);
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  font-size: 2rem;
}

.wave {
    animation: waveAnimation 2s infinite;
    display: inline-block;

}

@keyframes waveAnimation {
    0%, 100% {
      transform: rotate(0deg);
    }
    25%, 75% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(-20deg);
    }
}

.header {
  font-size: 2rem;
}

.name {
  font-size: 5rem;
  }

.title {
  font-size: 3rem;
  font-weight: 600;
  color: aliceblue;  
  opacity: 80%;
  animation: fadein 1s infinite;
}

@keyframes fadein {
  from {
    opacity: 100%;
  }
  20% {
    opacity: 85%;
  }
  40%{
    opacity: 60%;
  }
  60% {
    opacity: 50%;
  }
  80% {
    opacity: 70%;
  }
  to {
    opacity: 100%;
  }
}

.para {
  font-size: 1.25rem;
  max-width: 40rem;
}

.cv {
  margin-top: 1rem;
}

.dp-img {
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 480px) {
  .homepage {
    padding: 5% !important;
    height: auto;
  }
  .container {
    height: 70vh;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .homepage {
    padding: 10%;
  }
  .dp-img {
    width: 100%;
    height: auto;
    bottom: 0;
    top: unset;
  }
  
}

