.homepage {
    padding: 0 15% ; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: calc(100vh - 120px);
        overflow-y: hidden;
        border-bottom:1px solid rgb(129, 104, 157, .5);

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.wave {
    animation: waveAnimation 2s infinite;
    display: inline-block;

}

@keyframes waveAnimation {
    0%, 100% {
      transform: rotate(0deg);
    }
    25%, 75% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(-20deg);
    }
  }

.cap-bold {
  text-transform: uppercase;
}  

.name {
  font-size: 80px;
  font-weight: 800;  

}

.title {
  font-size: 40px;
  font-weight: 600;
  color: aliceblue;  
  opacity: 80%;
  animation: fadein 1s infinite;
}

@keyframes fadein {
  from {
    opacity: 100%;
  }
  20% {
    opacity: 85%;
  }
  40%{
    opacity: 60%;
  }
  60% {
    opacity: 50%;
  }
  80% {
    opacity: 70%;
  }
  to {
    opacity: 100%;
  }
}

.para {
  font-size: 20px;
}



.dp-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transform: translateX(150px);
}