.bio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
}

.info-div {
    width: 100%;

}

.intro {
    font-size: 1.25rem;
  color: var(--homepage-para);
  margin-bottom: 2rem;
  line-height: 2;
}

@media (max-width: 480px) {
    .about-container {
        grid-template-columns: unset !important;
        grid-template-rows: 1fr 1fr 1fr; 
        padding: 0 5% ;
        column-gap: unset;
        row-gap: 2rem;
    }
}


@media (max-width: 1100px) {
    .about-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        padding: 0 2% ;
        row-gap: 2rem;

    }
}
