.main-container {
    padding: 5% 15%;
    border-bottom: 1px dashed rgb(129, 104, 157, .5);
  }

@media (max-width: 480px) {
    .main-container {
        padding: 2% 5%;
    }
}

@media (max-width: 768px) {
    .main-container {
        padding:  5% 2%;
    }
}