[data-theme='dark'] {
    --bg-main : #1A1A1D;

    --color-main: #ffff;

    --sub-title: #4E4E50;

    --sidebar-brand: #ffff;
    --sidebar-bg: linear-gradient(to top left,#6F2232, #950740, #C3073F);;
    --sidebar-border: rgb(129, 104, 157, .5);
    --sidebar-icon: #ffff;
    --sidebar-icon-hover: #ffffffb6;
    --sidebar-v-line: rgb(104, 208, 245);
    --sidebar-theme-color: aliceblue;

    --homepage-name: #4623c6;
    --homepage-para: #4E4E50;
    
    --about-bg: #424242;
    --about-text: #f6f6f6;
    --about-icon-bg: #8f27bf;
    --about-icon-color: #f6f6f6;


    --exp-status-bg: #6F2232;
    --exp-stepper-bg: aliceblue;
    --exp-stepper-tip: #C3073F;

    --eduskill-bar-color: rgb(92, 92, 215);
    --eduskill-bar-bg: rgb(200, 216, 218);

    --contact-header-text:  #950740;
    --contact-icon-border: aliceblue;
    --contact-icon-bg-hover: ;    
    --contact-icon-border-hover: ;
    --contact-input-bg: transparent;
    --contact-input-border: rgba(240, 248, 255, 0.553);
    --contact-input-border-focus: #c2edce;
    --contact-input-text: rgb(56, 127, 133);

    --button-bg: #35c3f3;
    --button-text: aliceblue;

    --footer-bg: #4E4E50;
    --footer-text: #f6f6f2;
    --footer-icon: aliceblue;
    --footer-icon-hover: aliceblue;

    --title-gradient: linear-gradient(20deg,#6F2232, #950740, #C3073F);
}