.edu-div, .skill-div {
    margin-bottom: 40px;
}

.education {
      padding: 0 40px;
}

.degree {
    margin: .5rem 0;
}

.timespan {
    font-style: italic;
}

.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center; 
    align-items: center;
}

@media (max-width: 1200px) {
    .skills {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
}

.flip-container {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: relative;
    perspective: 800px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-container::before {
    content: '';
    position: absolute;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    background: var(--bg-main);
}

.flip-div {
    height: 90%;
    width: 90%;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.front, .back {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.back {
    background: var(--purple-gradient);
    opacity: .8;
    color: var(--bg-main);
    font-weight: 800;
    transform: rotateY(180deg);
}

.front img {
    object-fit: contain;
    height: 50%;
    width: 50%;
}

.flip-container:hover > .flip-div {
    transform: rotateY(180deg);
    transition: transform .5s;
}

.more-skills {
    width: 100%;
    grid-column: 1 / -1;
}

.more-skills p {
    font-size: 1.25rem;
}

.skill-list {
    width: 100%;
    background: var(--about-bg);
    padding: 2rem;
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-list img {
    object-fit: contain;
    width: 3rem;
    height: 100%;
}

.icon-name {
    top: unset;
    left: unset;
    bottom: -4rem;
    font-size: .8rem;

}