


.skill-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill-label {
    font-size: 18px;
    font-weight: 600;
}

.skill-hover {
    left: unset !important;
    right: -10%;
}

.edu-div, .skill-div {
    margin-bottom: 40px;
}

.education {
      padding: 0 40px;
}

.degree {
    margin: .5rem 0;
}

.timespan {
    font-style: italic;
}

progress {
    width: 100%;
    height: 10px;
    accent-color: #009edd;
    background-color: aliceblue;
}

progress::-webkit-progress-bar {
    background-color: aliceblue;
}

progress::-webkit-progress-value {
    background-color: #009edd;
}



