.nav-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6rem;
    padding: 0 20rem;
    gap: 10%;
    position: relative;
    width: auto;
}
 .nav-body::before, .head-tag::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: var(--color-main);
    bottom: 50%;
    transform-origin: left;
}

.nav-body::before {
    width: 20rem; 
    left: 0;
    animation: navline 2s forwards;
}

.head-tag::after {
    width: calc(90% - 44rem); 
    right: 0;
    animation: navline 4s 3s forwards;
    opacity: 0;
}

@keyframes navline {
    from {
        transform: scaleX(0);
        opacity: 1;
    }
    to {
        transform: scaleX(1);
        opacity: 1;
    }
}

.head-tag {
    letter-spacing: 3px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    text-wrap: nowrap;
    font-weight: 500;
    padding: 0 .5rem ;
}

@media (max-width : 850px) {
    .nav-body {
        display: none;
    }
}