.nav-body {
    display: flex;
   justify-content: space-between;
   align-items: center;
    height: 6rem;
    padding: 0 40px;
}

.head-div {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    gap: 20%;
    align-items: center;
}

.head-tag {
    letter-spacing: 3px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    text-wrap: nowrap;
    font-weight: 500;
}

@media (max-width : 850px) {
    .nav-body {
        display: none;
    }
}