.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--footer-bg);
    color: var(--footer-text);
    height: fit-content;
    padding: 1rem 15rem;
}

.cpyryt {
    font-weight: 600;
text-wrap: nowrap;
}

.icon-div {
    display: inherit;
    gap: 4rem;
}

.icon-div a {
    cursor: pointer;
    color: var(--footer-icon);
    &:hover {
      scale: 1.2;
    transition: scale ease-in-out .3s;
    color: var(--footer-icon-hover)

    }
  }

  @media (max-width: 1200px) {
    .footer {
        flex-direction: column;
    }
  }