.exp-detail {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    column-gap: 40px;
    padding: 1rem;
    border-radius: 13px;
    outline-color: var(--sub-title);
    transition: all .3s ease;
}

.exp-detail:hover {
    background-color: var(--exp-bg-hover);
    outline: .5px solid var(--sub-title);
    box-shadow: rgba(62, 62, 74, 0.2) 0px 7px 29px 0px;
}

.company {
    padding: 0 20px;
}

.position{
    margin-bottom: 15px;
}

.status {
    margin-top: 10px;
    background-color: var(--exp-status-bg);
    border-radius: 5px;
    padding: 8px 10px;
    width: fit-content;
    font-weight: 600;
}

.exp-para {
    line-height: 30px;
    margin-bottom: 50px;
    color: var(--about-text);
}

.stepper {
    position: relative;
    padding:  40px 0;
    margin: 20px 0;
    width: 1px;
    background-color: var(--exp-stepper-bg);
    margin-left: 40px;
}

.stepper::before, .stepper::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--exp-stepper-tip)
}

.stepper::before {
    left: -2px;
    top: 0; 

}

.stepper::after {
    right: -2px;
    bottom: 0;
}

@media (max-width: 480px) {
    .exp-detail {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .stepper{
        display: none;
    }
}