@import url(./themes/color-palette.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  transition: background-color 0.3s, color 0.3s;
}

body.light {
  background-color: var(--bg-light);
  color: var(--text-light);
  transition: background-color 0.3s, color 0.3s;
}

body {
  position: relative;
  font-family: 'Montserrat','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

/* h1 {
  font-size: 5rem;
  font-weight: 800;  
} */

.App {
  display: block;
  width: 100%;
  height: 100vh;
}
/* 
h2 {
  font-size: initial;
}

p {
  font-size: 1.2rem;
} */

.ask {
  font-size: 40px;
  font-weight: 800;
}

.auto-m {
  margin: 0 auto;
}

.mb {
  margin:  0 auto 3rem;
}

.flex-div {
  display: flex;
  flex-direction: column;
  
}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15%;
}

/* .cap-bold {
  text-transform: uppercase;
}  */

.white {
  color: aliceblue;
}


@media (max-width: 480px) {
 html {
  font-size: 85%;
 }
 .grid-section {
  grid-template-columns: 1fr;
  row-gap: 3rem;
}
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
   }
}


.v-animate {
animation: vertical .6s ease-out forwards;  
opacity: 0;
}

@keyframes vertical {
  from {
    opacity: 0;
    transform: translateY(10rem);
    filter: blur(.3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.h-animate {
  animation: horizontal .6s ease-out forwards;  
  opacity: 0;
  
}


@keyframes horizontal {
  from {
    opacity: 0;
    transform: translateX(-10rem);
    filter: blur(.3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

.hidden {
  visibility: hidden;
}